<div class="card border-0 bg-white shadow">
    <div class="card-body">
        <h1 class="text-center">
            <strong>¡Bienvenido {{ user.nickname }}! a Community Fest and Code</strong>
        </h1>
        <h2 class="text-muted text-center">¡Conoce gente, aprende y gana!</h2>
        <p>La proxima edicion regresa en 2022, en la cual se plane involucrar a todos los programadores independientemente del area de conocimiento que se encuentre, todo con un mismo proposito, aprender en comunidad</p>
    </div>
</div>