$primary : #7F00FF;
$gradient-1: #E100FF;
$gradient-2: #AA076B;
$error : #DD5E5D;

.background-gradient {
    background: $primary;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $gradient-1, $primary);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $gradient-1, $primary); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-purple {
    // background-color: #8d70e7;
    background-color: $primary;
    color: white;
}

.text-purple {
    color: #8d70e7;
}

.custom-field {
    position: relative;
    padding-top: 5px;
    margin-bottom: 0px;
    width: 100%;
}

.custom-field input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 14px;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    font-size: 16px;
    top: calc(98%);
    transform: translateY(-140%);
    transition: top 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 10px;
    font-size: 12px;
    color: #673ab7;
}

.custom-field.outlined input {
    background: none;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.custom-field.outlined input:valid,
.custom-field.outlined input:focus {
    border-color: #673ab7;
    transition-delay: 0.1s;
}

.custom-field.outlined input:focus + .placeholder,
.custom-field.outlined input:valid + .placeholder {
    left: 8px;
    padding: 0px 5px;
}

.custom-field.outlined input:valid + .placeholder,
.custom-field.outlined input:focus + .placeholder {
    top: 21px;
    background: #fff;
}

/** error */
.custom-field.error {
    color: $error;
}

.custom-field.error input:valid,
.custom-field.error input:focus {
    border-color: $error;
    transition-delay: 0.1s;
}

.custom-field.error input:valid + .placeholder,
.custom-field.error input:focus + .placeholder {
    color: $error;
}

.custom-field.error input {
    background: none;
    border: 2px solid $error;
    transition: border-color 0.3s ease;
}