<nav class="navbar navbar-expand-lg navbar-dark bg-purple py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <strong>Team angular 15</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button mat-button routerLink="/auth/login">Iniciar sesion</button>
                </li>
                <li class="nav-item mx-2">
                    <button mat-raised-button routerLink="/auth/register">Crear una cuenta</button>
                </li>
            </ul>
        </div>
    </div>
</nav>