<div class="container">
    <div class="row py-2 justify-content-center">
        <div class="col-12 col-lg-8">
            <h2 class="text-purple mb-2">
                <strong>Edicion del perfil</strong>
            </h2>
            <div class="card bg-white">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="nickname" class="custom-field outlined">
                                        <input
                                            data-type="nickname"
                                            autocomplete="off"
                                            name="nickname"
                                            id="nickname"
                                            required
                                        >
                                        <small class="placeholder">Nickname</small>
                                    </label>
                                    <small class="form-text text-muted">Escriba su nickname.</small>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="country" class="custom-field outlined">
                                        <input
                                            data-type="country"
                                            autocomplete="off"
                                            name="country"
                                            id="country"
                                            required
                                        >
                                        <small class="placeholder">Pais</small>
                                    </label>
                                    <small class="form-text text-muted">Escriba el nombre de su pais.</small>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nickname" class="custom-field outlined">
                                        <select
                                            autocomplete="off"
                                            name="nickname"
                                            id="nickname"
                                            required
                                        ></select>
                                        <small class="placeholder">Sexo</small>
                                    </label>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="facebookLink" class="custom-field outlined">
                                        <input
                                            autocomplete="off"
                                            name="facebookLink"
                                            id="facebookLink"
                                            required
                                        >
                                        <small class="placeholder">Facebook</small>
                                    </label>
                                    <small class="form-text text-muted">Ingrese su Facebook.</small>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="twitterLink" class="custom-field outlined">
                                        <input
                                            autocomplete="off"
                                            name="twitterLink"
                                            id="twitterLink"
                                            required
                                        >
                                        <small class="placeholder">Twitter</small>
                                    </label>
                                    <small class="form-text text-muted">Ingrese su Twitter</small>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="github" class="custom-field outlined">
                                        <input
                                            autocomplete="off"
                                            name="github"
                                            id="github"
                                            required
                                        >
                                        <small class="placeholder">Github</small>
                                    </label>
                                    <small class="form-text text-muted">Ingrese su Github.</small>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="linkedin" class="custom-field outlined">
                                        <input
                                            autocomplete="off"
                                            name="linkedin"
                                            id="linkedin"
                                            required
                                        >
                                        <small class="placeholder">Linkedin</small>
                                    </label>
                                    <small class="form-text text-muted">Ingrese su Linkendin.</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2 pt-4 justify-content-center">
        <div class="col-12 col-lg-8">
            <h2 class="text-purple mb-2">
                <strong>Fotografia de perfil y portada.</strong>
            </h2>
            <div class="card bg-white">
                <div class="card-body">
                    Imagenes
                </div>
            </div>
        </div>
    </div>
</div>