<div class="container">
    <div class="row py-2 justify-content-center">
        <div class="col-12 col-lg-8">
            <h2 class="text-purple mb-2">
                <strong>Edicion del perfil</strong>
            </h2>
            <div class="card bg-white">
                <div class="card-header border-0 bg-white">
                    <p class="text-muted m-0 p-0">En esta seccion podras editar tu perfil a tu gusto.</p>
                </div>
                <div class="card-body pt-0">
                    <app-user-fields-form></app-user-fields-form>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2 pt-4 justify-content-center">
        <div class="col-12 col-lg-8">
            <h2 class="text-purple mb-2">
                <strong>Fotografia de perfil y portada</strong>
            </h2>
            <div class="card bg-white">
                <div class="card-body">
                    Imagenes
                </div>
            </div>
        </div>
    </div>

    <div class="row py-2 pt-4 justify-content-center">
        <div class="col-12 col-lg-8">
            <h2 class="text-danger mb-2">
                <strong>Zona peligrosa</strong>
            </h2>
            <app-danger-zone></app-danger-zone>
        </div>
    </div>
</div>