<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Images -->
            <div class="container-images mb-5">
                <div class="container-banner">
                    <img
                        src="https://i.pinimg.com/originals/ae/f8/ee/aef8ee3342902cb9a09ee05c7a4e86cf.png"
                        style="object-fit: cover;"
                        alt="Banner image"
                        height="320px"
                        width="100%"
                    >
                </div>
                <div class="container-avatar">
                    <img
                        src="https://res.cloudinary.com/dlkfpx8lb/image/upload/v1615020354/teamangular15/picture_profiles/fwidznedxvw5erluf4fv.jpg"
                        alt="Profile picture"
                        height="100%"
                        width="100%"
                    >
                </div>
            </div>
            <!-- #End images -->

            <div class="container-text text-center">
                <h1>
                    <strong>IvanZ123</strong>
                </h1>
                <p class="text-muted">Frontend Developer/DevOps</p>
                <small class="text-center w-50 d-block mx-auto">
                    Soy Frontend Developer, tengo dos años de experiencia desarrollando aplicaciones web con múltiples lenguaje de programación, distintos frameworks, bases de datos y servicios en la nube. Si deseas conocer mis trabajos.
                </small>
            </div>
        </div>
    </div>
</div>
