<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Images -->
            <div class="container-images mb-5">
                <div class="container-menu d-flex py-2">
                    <span class="spacer"></span>
                    <button
                        class="bg-white text-dark mx-2"
                        title="Cambiar foto de portada"
                        mat-mini-fab
                    >
                        <mat-icon>camera</mat-icon>
                    </button>
                    <button
                        class="bg-white text-dark mx-2"
                        routerLink="/app/settings"
                        title="Configuraciones"
                        mat-mini-fab
                    >
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
                <div class="container-banner">
                    <img
                        src="https://picsum.photos/1080/320"
                        style="object-fit: cover;"
                        alt="Banner image"
                        height="100%"
                        width="100%"
                    >
                </div>
                <div class="container-avatar">
                    <img
                        [src]="user.avatar"
                        alt="Profile picture"
                        height="100%"
                        width="100%"
                    >
                    <div id="edit-avatar">
                        <label for="avatar">
                            <a mat-mini-fab color="warn">
                                <mat-icon>edit</mat-icon>
                            </a>
                        </label>
                        <input
                            (change)="changeAvatar($event)"
                            accept="image/*"
                            class="d-none"
                            name="avatar"
                            type="file"
                            id="avatar"
                            max="1"
                        >
                    </div>
                </div>

                <div class="container-social-media d-none d-md-block">
                    <a
                        *ngFor="let item of socialMedia"
                        [style]="{ display: item.link ? 'inline-block' : 'none' }"
                        href="{{ item.link }}"
                        target="_blank"
                        class="px-2"
                    >
                        <img src="{{ item.img }}" width="25px">
                    </a>
                </div>
            </div>
            <!-- #End images -->

            <div class="container-text text-md-center">
                <h1>
                    <strong>{{ user.nickname }}</strong>
                </h1>
                <p class="text-muted">{{ user.instructor?.knowledgeArea }}</p>
                <p class="text-center w-50 d-block mx-auto">
                    {{ user.instructor?.biography }}
                </p>
            </div>
        </div>
    </div>
</div>
