.container-images {
    width: 100%;
    position: relative;
}

.container-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.container-banner {
    height: 250px;
}

.container-banner img::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .4);
    z-index: 0;
}

.container-avatar {
    position: absolute;
    border-radius: 50%;
    bottom: -40px;
    padding: 3px;
    left: 25px;
    width: 120px;
    height: 120px;
    border: 5px solid white;
}

#edit-avatar {
    position: absolute;
    right: 0;
    bottom: 0;
}

.container-social-media {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.container-avatar img {
    border-radius: 50%;
    object-fit: cover;
}

.container-text h1 {
    font-size: 35px;
}

@media screen and (min-width: 768px) {
    .container-avatar {
        right: 0;
        left: 0;
        margin: auto;
        height: 150px;
        width: 150px;
    }

    .container-banner {
        height: 320px;
    }
}
