<div class="card bg-white">
    <div class="card-body">
        <p class="text-muted m-0 d-flex align-items-center w-100">
            <span>Cambia tu direccion de correo electronico.</span>
            <span class="spacer"></span>
            <button (click)="changeEmail()" mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </p>
        <p class="text-muted m-0 d-flex align-items-center w-100">
            <span>Modifica tu contraseña.</span>
            <span class="spacer"></span>
            <button (click)="forgotPassword()" mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </p>
    </div>
</div>