<p mat-dialog-title class="d-flex">
    <span class="spacer"></span>
    <button (click)="close()" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</p>
<div mat-dialog-content>
    <div class="text-center">
        <img
            src="/assets/icons/logo.png"
            height="150px"
            width="150px"
            alt="Logo"
        >
    </div>
    <form
        [formGroup]="credentials"
        (ngSubmit)="send()"
        novalidate
    >
        <mat-form-field appearance="outline" class="w-100 my-3">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-hint>Escriba su contraseña.</mat-hint>
        </mat-form-field>

        <button
            class="bg-purple w-100"
            mat-raised-button
            type="submit"
        >Confirmar</button>
    </form>
</div>
