<!-- <app-layout>

</app-layout> -->
<div class="container-forgot-password">
  <div class="card w-75 m-auto">
    <div class="card-body">
      <div class="card-image">
        <img src="../../../assets/images/lock.jpg" class="card-img-top" alt="Recover password">
      </div>
      <h2 class="card-title text-center">Reasignar contraseña</h2>
      <p class="card-text">Te enviaremos un correo electrónico con un enlace privado para que reasignes tu contraseña. Este enlace será válido por una hora.</p>
      <form [formGroup]="resetForm" (ngSubmit)="sendEmail()" class="my-3">
        <label for="username" class="form-label">Correo:</label>
        <input type="email" class="form-control" id="username" placeholder="ejemplo@email.com" formControlName="email">
        <button class="btn btn-primary mt-4" [disabled]="!resetForm.valid">Enviar enlace</button>
      </form>
    </div>
    <a routerLink="/login">Volver al login</a>
    <div class="alert alert-danger mx-5" role="alert" *ngIf="error">
      {{ message }}
    </div>
    <div class="alert alert-success mx-5" role="alert" *ngIf="success">
      {{ message }}
    </div>
  </div>
</div>
