<app-layout>

    <div class="container my-5">

        <h1 class="text-center mb-5">
            Política de privacidad y protección de datos
        </h1>

        <div class="text-justify">

            <p>
                {{ company }} te informa sobre su Política de Privacidad respecto del tratamiento y protección de los datos
                de carácter personal de los usuarios y clientes que puedan ser recabados por la navegación o
                contratación de servicios a través del sitio web {{ company }}.
            </p>
    
            <p>
                En este sentido, el Titular garantiza el cumplimiento de la normativa vigente en materia de protección de datos personales, reflejada en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y de Garantía de Derechos Digitales (LOPD GDD). Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).
            </p>
    
            <p>
                El uso de sitio Web implica la aceptación de esta Política de Privacidad así como las condiciones incluidas en el Aviso Legal.
            </p>

            <h2>Política de Cookies</h2>
            <p>
                Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena en tu navegador web.
            </p>

            <h2>Aceptación y consentimiento</h2>
            <p>
                Como Usuario del sitio Web declaras haber sido informado de las condiciones sobre protección de datos de carácter personal, aceptas y consientes el tratamiento de los mismos por parte de el Titular en la forma y para las finalidades indicadas en esta Política de Privacidad.
            </p>

            <h2>Cambios en la Política de Privacidad</h2>
            <p>
                El Titular se reserva el derecho a modificar la presente Política de Privacidad para adaptarla a novedades legislativas o jurisprudenciales, así como a prácticas de la industria.
            </p>
            <p>
                Estas políticas estarán vigentes hasta que sean modificadas por otras debidamente publicadas.
            </p>

        </div>

    </div>

</app-layout>