<div class="row">

    <div class="col-11 mx-auto">

        <div class="row text-center text-white background-gradient py-4 pr-2 p-md-5 rounded shadow-lg">

            <div class="col-3">
                <span class="d-block h2"> {{ days }} </span>Días
            </div>
        
            <div class="col-3">
                <span class="d-block h2"> {{ hours }} </span>Horas
            </div>
        
            <div class="col-3">
                <span class="d-block h2"> {{ minutes }} </span>Minutos
            </div>
        
            <div class="col-3">
                <span class="d-block h2"> {{ seconds }} </span>Segundos
            </div>

        </div>

    </div>


</div>