<div class="card border-0 bg-white shadow">
    <div class="card-header border-0 bg-white">
        <div class="d-flex align-items-center text-muted">
            <mat-icon>supervisor_account</mat-icon>
            <span class="ml-3">Mis grupos</span>
        </div>
    </div>
    <div class="card-body">
        <div class="box-selector">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Selecciona un grupo</mat-label>
                <mat-select (selectionChange)="filter($event)">
                    <mat-option
                        *ngFor="let item of groupSelectorItems"
                        [value]="item.id"
                    >{{ item.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="group" class="box-group px-2">
            <div class="box-group-img text-center">
                <img
                    [src]="group?.banner"
                    style="object-fit: cover;"
                    class="rounded-circle"
                    alt="Banner group"
                    height="150px"
                    width="150px"
                >
            </div>
            <div class="box-group-title pt-3">
                <h2 class="card-title m-0">{{ group?.name }}</h2>
                <p class="card-subtitle text-muted m-0">{{ group?.description }}</p>
            </div>
            <div class="box-group-actions py-2">
                <button
                    class="bg-danger text-white w-100"
                    (click)="leaveGroup(group?._id)"
                    mat-raised-button
                >Abandonar grupo</button>
            </div>
            <div class="box-group-members">
                <div class="d-flex align-items-center py-2 pt-4 text-muted">
                    <mat-icon>account_circle</mat-icon>
                    <span class="ml-3">Miembros del grupo</span>
                </div>
                <app-general-sticker
                    *ngFor="let member of group?.members"
                    [sticker]="{
                        title: member.nickname,
                        avatar: member.avatar,
                        subtitle: member.email
                    }"
                ></app-general-sticker>
            </div>
        </div>
        <div *ngIf="!group" class="box-group-empty">
            <p class="text-center text-muted">Aun no formas parte de un grupo.</p>
        </div>
    </div>
</div>