<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-11 col-sm-8 col-md-6 col-lg-4">
            <div class="card border-0 bg-white shadow">
                <div class="card-header border-0 bg-white">
                    <img src="/assets/icons/forgot-password.svg" alt="Forgot password icon" class="d-block mx-auto"
                        width="125px">
                </div>
                <div class="card-body bg-white">
                    <div>
                        <h1 class="text-center">
                            <strong>¿Has olvidado tu contraseña?</strong>
                        </h1>
                        <p class="text-center text-muted">Ingresa tu correo electronico, y te enviaremos un link para
                            que puedas cambiar tu contraseña.</p>
                    </div>
                    <form
                        [formGroup]="forgotPassword"
                        (ngSubmit)="submit()"
                        novalidate
                    >
                        <div class="form-group">
                            <label for="email" class="custom-field outlined">
                                <input
                                    formControlName="email"
                                    autocomplete="off"
                                    data-type="email"
                                    name="email"
                                    id="email"
                                    autofocus
                                    required
                                >
                                <small class="placeholder">Correo electronico</small>
                            </label>
                            <small class="form-text text-muted">Escriba su correco electronico.</small>
                        </div>
                        <div class="d-flex">
                            <span class="spacer"></span>
                            <button
                                class="text-purple mx-2"
                                routerLink="/auth/login"
                                type="button"
                                mat-button
                            >Volver</button>
                            <button
                                [disabled]="forgotPassword.invalid"
                                class="me-auto bg-purple"
                                mat-raised-button
                            >Cambiar contraseña</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>