<div class="card border-0 bg-white shadow">
    <div class="card-header d-flex align-items-center text-muted border-0 bg-white py-2">
        <mat-icon>work</mat-icon>
        <span class="ml-2">Talleres</span>
        <span class="spacer"></span>
        <button routerLink="/app/workshops" mat-icon-button>
            <mat-icon>open_in_new</mat-icon>
        </button>
    </div>
    <div class="card-body">
        <app-workshop-sticker
            *ngFor="let workshop of workshops"
            [workshop]="workshop"
        ></app-workshop-sticker>
    </div>
</div>
