<div class="card border-0 bg-white shadow">
    <div class="card-header">
        <img [src]="group.banner" width="100%" height="150px" style="object-fit: cover;"
            class="bg-white" alt="Banner group">
    </div>
    <div class="card-body">
        <mat-chip-list>
            <mat-chip class="bg-{{ group.tag.color }} text-white">{{ group.tag.text }}</mat-chip>
        </mat-chip-list>
        <div class="container-members pt-2 text-{{ group.tag.color }}">{{ group.members.length }} Desarrolladores que se han unido.</div>
        <h3 class="card-title m-0 py-2" style="line-height: 20px;">{{ group.name }}</h3>
        <p class="m-0 text-muted">{{ group.description }}</p>
    </div>
    <div class="card-footer border-0 bg-white pt-0">
        <button
            class="bg-purple w-100"
            (click)="joinGroup(group._id)"
            mat-raised-button
        >Unirme</button>
    </div>
</div>