<form [formGroup]="group" (ngSubmit)="send()">
  <mat-form-field appearance="outline">
    <mat-label>Nombre de usuario</mat-label>
    <input matInput placeholder="Email"  formControlName="email" [class.is-invalid]="emailField.invalid">
    <mat-icon matSuffix>email</mat-icon>
    <mat-hint>
      <span class="text-danger" *ngIf="emailField.hasError('required') && emailField.touched">
        Este campo es requerido.
      </span>
      <span class="text-danger" *ngIf="emailField.hasError('pattern') && emailField.touched">
        El email no tiene un formato correcto.
      </span>
      <span class="" *ngIf="emailField.pristine && emailField.untouched">
        Escriba su nombre de usuario.
      </span>
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput type="{{ show ? 'text' : 'password' }}" placeholder="Password"  formControlName="password" [class.is-invalid]="passwordField.invalid">
    <mat-icon class="password" matSuffix (click)="visibility()">{{ show ? 'visibility' : 'visibility_off' }}</mat-icon>
    <mat-hint>
      <span class="text-danger" *ngIf="passwordField.hasError('required') && passwordField.touched">
        Este campo es requerido.
      </span>
      <span class="text-danger" *ngIf="passwordField.hasError('pattern') && passwordField.touched">
        La contraseña debe tener mas de 6 caracteres.
      </span>
      <span class="" *ngIf="passwordField.pristine && passwordField.untouched">
        Escriba su contraseña.
      </span>
    </mat-hint>
  </mat-form-field>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="group.invalid" (click)="send()">
    Iniciar Sesion
  </button>
</form>
