<app-layout>

    <div class="container-fluid my-5">
        
        <div class="row">

            <!-- Comunidades -->
            <aside class="col-md-3 border border-dark text-center">
                <h1>
                    Comunidades
                </h1>
            </aside>

            <section class="col-md-6">

                <div class="text-center">

                    <h1 class="">Bienvenidos a Community Fest and Code</h1>
            
                    <h3>¡Conoce gente, aprende y gana!</h3>
        
                    <p class="text-justify">
                        La próxima edición regresa en el 2022, en la cual se planea involucrar a todos los
                        programadores independientemente del área de conocimiento que se encuentre, todo con un mismo
                        proposito, aprender en comunidad.
                    </p>
        
                </div>

                <!-- Carousel de creadores de contenido -->
                <h2 class="mt-5 text-center">Ellos ya creen en esta iniciativa:</h2>
                <carousel
                    height="400"
                    [loop]="true"
                    autoplay="true"
                    autoplayInterval="3000"
                    arrowsTheme="dark"
                >
    
                    <div class="carousel-cell" *ngFor="let creator of creators">
                        
                        <app-content-creator-card [content_creator]="creator" ></app-content-creator-card>
                
                    </div>
    
                </carousel>

                <!-- Carousel de sponsors -->
                <h2 class="mt-5">Sponsors</h2>
                <carousel
                    class="px-5"
                    height="80"
                    cellWidth="80"
                    arrowsTheme="dark"
                    cellsToShow="8"
                    [loop]="true"
                >
                    <div class="carousel-cell" *ngFor="let sponsor of sponsors">

                        <div data-toggle="tooltip" data-placement="top" [title]="sponsor.name">
                            <a [href]="sponsor.link" target="_blank">
                                <img [src]="sponsor.image" alt="" class="rounded-circle">
                            </a>
                        </div>

                    </div>

                </carousel>

            </section>

            <!-- Talleres -->
            <aside class="col-md-3 border border-dark text-center">
                <h1>
                    Talleres
                </h1>
            </aside>

        </div>

    </div>

</app-layout>