<app-layout>

    <div class="container-fluid mt-5 border border-danger">
        
        <div class="row">

            <div class="col-md-6">

                <div class="text-center">

                    <h1 class="display-1">Bienvenidos a Community Fest and Code</h1>
            
                    <h3>¡Conoce gente, aprende y gana!</h3>
        
                    <p class="text-justify">
                        La próxima edición regresa en el 2022, en la cual se planea involucrar a todos los
                        programadores independientemente del área de conocimiento que se encuentre, todo con un mismo
                        proposito, aprender en comunidad.
                    </p>
        
                </div>

            </div>


        </div>

    </div>

</app-layout>