<app-layout>

    <div class="container-fluid my-5">
        
        <div class="row">

            <aside class="col-md-3"></aside>

            <section class="col-md-6">

                <div class="text-center">

                    <h1 class="display-1">Bienvenidos a Community Fest and Code</h1>
            
                    <h3>¡Conoce gente, aprende y gana!</h3>
        
                    <p class="text-justify">
                        La próxima edición regresa en el 2022, en la cual se planea involucrar a todos los
                        programadores independientemente del área de conocimiento que se encuentre, todo con un mismo
                        proposito, aprender en comunidad.
                    </p>
        
                </div>


                <carousel
                    height="400"
                    loop="true"
                    autoplay="true"
                    autoplayInterval="3000"
                    arrowsTheme="dark"
                >
    
                    <div class="carousel-cell" *ngFor="let creator of creators">
                        
                        <app-content-creator-card [content_creator]="creator" ></app-content-creator-card>
                
                    </div>
    
                </carousel>

            </section>

            <aside class="col-md-3"></aside>

        </div>

    </div>

</app-layout>